<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marketplace Tecnicatura</title>
    <link rel="stylesheet" href="./estilos/styles.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./main.js" defer></script>
    <script src="./componentes//formulario.js" defer></script>
    <script src="./componentes/botonreinversion.js" defer></script>

    <script src="./mount.js" defer></script>

</head>  
<body>  
      
    <div class="contenedor" id="app">

        <formulario @reinvertirmonto="calcularReinversion"></formulario>
        <botonreinversion @invertir="mostrarInversion"></botonreinversion>
        <div class="divReinversion" v-if="invertirmonto">
            <p v-for="monto in montosReiversion"> monto inicial:$ {{ Number.parseFloat(monto.inicial).toFixed(2)}} monto final:$ {{Number.parseFloat(monto.final).toFixed(2)}}</p>

        </div>
    </div>
  
</body>  
</html>